<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/cv_style.css?v=1002">
  <script src="../js/jquery-3.4.1.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/cv_js.js?v=1005"></script>
  <link href="../fontawesome/css/all.css" rel="stylesheet">
</head>
<body>
	<center>
<div class="container" id="content_box">
	<div class="card col-sm-12 col-md-6 ">
		<div class="card-body">
			<h4>เพิ่มสินค้า</h4>
			<div class="card">
				<div class="card-body">
					<img id="pre_img" width="100%"/>
				</div>
			</div>
			<form class="" method="post" id="frm_regist" enctype="multipart/form-data">
			  <div class="form-row">
			    <div class="col-md-12 mb-3">
			      	<label for="p_name" class="cv_keep-left">Email</label>
			      	<div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
			        </div>
			      	<input type="text" class="form-control" id="p_name" name="p_name" placeholder="ชื่อสินค้า"  oninvalid="this.setCustomValidity('กรอก ชื่อสินค้า ที่นี่')" oninput="this.setCustomValidity('')" required>
			  	</div>
			    </div>
			    <div class="col-md-6 mb-3">
			      <label class="cv_keep-left" for="p_amount">จำนวนสินค้า</label>
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" ><i class="fas fa-key"></i></span>
			        </div>
			        <input type="number" class="form-control" id="p_amount" name="p_amount" oninvalid="this.setCustomValidity('กรอก จำนวนสินค้า ที่นี่')" required oninput="this.setCustomValidity('')">
			      </div>
			    </div>
			    <div class="col-md-6 mb-3">
			      <label class="cv_keep-left" for="Confirm Password">ราคาสินค้า</label>
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" ><i class="fas fa-key"></i></span>
			        </div>
			        <input type="number" class="form-control" id="p_price" name="p_price" oninvalid="this.setCustomValidity('กรอก ราคาสินค้า ที่นี่')" required oninput="this.setCustomValidity('')">
			        <div id="sh_msg"></div>
			      </div>
			    </div>
			  	<div class="col-md-6 mb-3">
			      <label class="cv_keep-left" for="Confirm Password">ชื่อ</label>
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" ><i class="fas fa-user-tag"></i></span>
			        </div>
			        <input type="text" class="form-control" id="u_name" name="u_name" oninvalid="this.setCustomValidity('กรอกชื่อที่นี่')"required oninput="this.setCustomValidity('')">
			      </div>
			    </div>
			  
			  	<div class="col-md-6 mb-3">
			      <label class="cv_keep-left" for="u_lname Password">นามสกุล</label>
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" ><i class="fas fa-user-tag"></i></span>
			        </div>
			        <input type="password" class="form-control" id="u_lname" name="u_lname" oninvalid="this.setCustomValidity('กรอกนามสกุลที่นี่')" required oninput="this.setCustomValidity('')">
			      </div>
			    </div>
				<div class="col-md-12 mb-3">
			      <label class="cv_keep-left" for="u_tel Password">เบอร์โทร</label>
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" ><i class="fas fa-phone-square-alt"></i></span>
			        </div>
			        <input type="text" maxlength="10" class="form-control" id="u_tel" name="u_tel" oninvalid="this.setCustomValidity('กรอกเบอร์โทรที่นี่')" required oninput="this.setCustomValidity('')">
			      </div>
			    </div>
			    <div class="col-md-12 mb-3">
			      <label class="cv_keep-left" for="Confirm Password">รูปภาพ</label>
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" ><i class="fas fa-images"></i></span>
			        </div>
			        <input type="file" class="form-control" id="u_img" name="u_img" onchange="sh_img(this)">
			      </div>
			    </div>			
			  <div class="form-group">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดยินยอมก่อน')">
			      <label class="form-check-label" for="invalidCheck">
			        ยอมรับเงื่อนไข
			      </label>
			    </div>
			  </div>
			</div>
			  <button class="btn btn-success" id="btn_regist_frm" type="submit">สมัคร</button>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	function sh_img(img){
		var reader=new FileReader();
		reader.onload=function(){
			document.getElementById('pre_img').src=reader.result;
		}
		reader.readAsDataURL(img.files[0]);
	}
</script>
</body>
</html>

